<?xml version="1.0" encoding="UTF-8"?>
<config>
<!-- NOM AFFICHER SUR LE LAUNCHER -->
 <name>Zprad</name>
<!--  EXECUTABLE DU JEU -->
<executable>Dofus.exe</executable>
<!-- UPDATE LINK -->
<download>http://ton site/update/app</download>
<!-- ATTENTION A NE PAS METTRE DE "/"  à la fin sur NEWS et LAUNCHER -->
<!-- NEWS LINK -->
<news>https://raw.githubusercontent.com/Asafusa/LaunchMomore/main/xml</news>
<!-- DISCORD LINK -->
<discord>https://discord.gg/invite/</discord>
<!-- WEBSITE LINK -->
<website>http://Ton-Site/</website>
<!-- ASSETS -->
 <logo>https://raw.githubusercontent.com/Asafusa/LaunchMomore/main/assets/logo.png</logo>
 <background>https://raw.githubusercontent.com/Asafusa/LaunchMomore/main/assets/background.jpg</background>
</config>
